:root {
    --site-color: #ffd300;
    --font-color: #1a1818;
    --padding-default: 30px;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    position: sticky;
    top: 0;
    font-weight: 300;
    border-bottom: 1px solid #eee;
    background-color: #FFF;
    z-index: 5;

    .logo {

        img {}
    }

    .menu-itens-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-left: 20px;

        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 0;
            top: 0;
            background-color: #FFF;
            height: 100%;
            width: 100%;
            max-width: 210px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            transform: translateX(105%);
            transition: all 0.3s linear;

            &.menu-opened {
                transform: translateX(0%);
            }

            nav {
                width: 100%;

                ul {
                    flex-direction: column;
                    flex: 1;

                    li {

                        a {}
                    }
                }
            }

            .client-area-container {
                padding: 15px;
                width: 100%;
                height: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }

        .close-menu {
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            padding: 20px;
            display: none;

            @media (max-width: 991px) {
                display: block;
            }
        }

        nav {
            height: 100%;
            display: flex;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                height: 100%;
                margin-bottom: 0;

                li {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding-left: 15px;
                        padding-right: 15px;
                        color: inherit;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .client-area-container {
            display: flex;
            column-gap: 10px;
            align-items: center;
            color: inherit;

            i {
                font-size: 1.5rem;
                color: var(--site-color);
            }
        }
    }

    .menu-mobile-icon {
        font-size: 1.7rem;
        display: none;
        padding: 20px;
        color: var(--site-color);

        @media (max-width: 991px) {
            display: block;
        }
    }
}

.main-container {
    // padding-left: var(--padding-default);
    // padding-right: var(--padding-default);
}

.properties-master-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    h3 {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        font-size: 1.3rem;
        line-height: 1em;
        font-weight: 300;

        span {
            color: #ccc;
            font-size: 1rem;
            line-height: 1em;
            display: block;
        }
    }

    .properties-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 30px;

        a{
            color: inherit;
        }

        @media (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 680px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .propertie {
            border: 1px solid #cecece;
            border-radius: 10px;
            overflow: hidden;

            .image {
                height: 250px;
                background-size: cover;
                background-position: center;
            }

            .infos-container {
                display: flex;
                flex-direction: column;
                padding: 20px;

                .type {
                    font-size: 1rem;
                    line-height: 1em;
                    font-weight: 300;
                }

                .neighborhood {
                    font-size: 1rem;
                    line-height: 1em;
                    font-weight: 700;
                    margin-top: 3px;
                }

                .price {
                    font-size: clamp(1rem, 2.2vw, 1.6rem);
                    line-height: 1em;
                    font-weight: 700;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }


                .icons-info {

                    ul {
                        display: flex;
                        justify-content: space-between;

                        li {

                            i {
                                color: #bbb;
                            }
                        }
                    }
                }
            }
        }
    }
}

.propertie-item-inside {

    .content{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .imovel-carousel {
        margin-left: -30px;
        width: calc(100% + 60px);

        .item {
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.result-content{
    margin-bottom: 30px;
}